<!-- <ion-toolbar text-center>
    <ion-avatar slot="start">
        <img src="../../../assets/images/logo.jpg">
      </ion-avatar>
  <ion-buttons slot="end">
    <ion-menu-button style="color: purple"></ion-menu-button>
  </ion-buttons>
  <ion-title style="color: purple; font-size: 20px; font-weight: bolder" text-center>{{title}}</ion-title>
</ion-toolbar> -->


<mat-toolbar color="accent">
  <span class="title-center">{{title}}</span>
  <span class="example-spacer"></span>
 <ion-buttons ion-activatable class="fadeIn;ion-activatable" slot="end">
    <ion-ripple-effect></ion-ripple-effect>
  <ion-menu-button style="color: white"></ion-menu-button>
</ion-buttons>
</mat-toolbar>


<!-- <ion-toolbar text-center>
    <ion-avatar slot="start">
        <img src="../../../assets/images/logo.jpg">
      </ion-avatar>
      <ion-label style="font-weight: bolder;color: navy;font-size: 25px" text-center>{{title}}</ion-label>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
</ion-toolbar>


 </ion-toolbar>
<ion-toolbar color='dark'>
</ion-toolbar>  -->


<!-- <ion-toolbar text-center>
    <ion-avatar slot="start">
        <img src="../../../assets/images/logo.jpg">
      </ion-avatar>
      <ion-label style="font-weight: bolder;color: yellow;font-size: 25px" text-center>{{title}}</ion-label>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
</ion-toolbar> -->