ion-badge {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100%;
}

.category-block {
    size: 50px;
  margin-bottom: 10px;
}

ion-header {
  --ion-background-color: #2E4AFC !important;
}

.align-text-middle {
    align-items: center;
}

h1 {
	margin: 0;
	padding: 0;
  }
  p {
	margin: 0.8em 0;
	padding: 0;
  }
  .cards-set {
	font-size: 0;
  }
  .card {
	display: inline-block;
  margin-left: 30px;
  margin-bottom: 20px;
	width: 350px;
	min-height: 100px;
	font-size: 16px;
	background-color: #ffffff;
	border-radius: 2px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  }
  .card .heading {
	position: relative;
	height: 150px;
	color: #ffffff;
  }
  .card .heading h1 {
	position: absolute;
	bottom: 16px;
	left: 16px;
	font-size: 24px;
  }
  .card .content {
  height: 80px;
  margin-top: 0px
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }